img {
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.container {
  display: flex;  
}

.main-image {
  width: 300px
} 

.account-details {
  width: 400px;
}

.system-user-details {
  width: 400px
}

li {
  display: inline-block
}
